/**
* css reset
*/
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    body {
    line-height:1;
    }
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
    display:block;
    }
    nav ul {
    list-style:none;
    }
    blockquote, q {
    quotes:none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content:'';
    content:none;
    }
    a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline: none;
    }
    /* change colours to suit your needs */
    ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
    }
    /* change colours to suit your needs */
    mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
    }
    del {
    text-decoration: line-through;
    }
    abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
    }
    table {
    border-collapse:collapse;
    border-spacing:0;
    }
    /* change border colour to suit your needs */
    hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
    }
    input, select {
    vertical-align:middle;
    }





/**
* main css start
*/

html, body {
	height: 100%;
	width: 100%;
}

.tab {
	margin-left: 20px;
}
	
body {
	background: #ddd2cc url('/img/pagebg.png') no-repeat;
	background-image: url('/img/b9.png');
	background-repeat: repeat;
	min-width: 1200px;
	margin-bottom: 150px;
	position: relative;
}
	#main_container {
		color: #333;
		height: 100%;
		background: url('/img/pagebg.png') repeat center top;
		/*width: 90%;*/
		min-width: 1200px;
		border-top: 3px solid #c6342e;
	}
	
		/**  Social Media button strip  **/
		#social-media_strip {
			position:fixed;
			top:40%;
		}
			#social-media_strip ul {
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				padding: 3px;
			}
			#social-media_strip ul li img {
				width: 40px;
				height: 40px;
			}
		
		/**  Social Media button strip  **/
		#header {
			margin: 0 auto;
			width: auto;/*63.5%;*/
			overflow: hidden;
			position: relative;
			text-align: center;			
		}
		#header #head_content {
			display: inline-block; /*so the element is only as big as the contents inside it*/
		}
			#header div#nav_left, #header div#nav_right {				
				float: left;
				position: relative;
				top: 165px;
				padding: 8px 0;
				margin-bottom: 10px;
			}
				div#nav_left:after, div#nav_right:after {
					  content: "";
					  display: block;
					  position: absolute;
					  width: 100%;
					  height: 1.5px;
					  /*box-shadow: 0px 0px .5em red;*/
					  border-radius: 100% 100% 100% 100%;
					  border: 1px solid #c6342e;
					  background: #c6342e;
					  bottom: -10px; /*0px;*/
				}
				div#nav_left a, div#nav_right a {
					position: relative;
					-webkit-transition: .7s;
					-moz-transition: .7s;
					-o-transition: .7s;
					-ms-transition: .7s;
					transition: .7s;
				}
				div#nav_left a:after, div#nav_right a:after {
					content: "";
					position: absolute;
					width: 6px;
					height: 6px;
					bottom: -18px;
					left: 50%;
					margin-left: -2px; 
					background: #c6342e;
					border-radius: 100%; 
				}
				div#nav_left a:hover:after, div#nav_right a:hover:after {
					width: 8px;
					height: 8px;
				}
				
				div#nav_left .rocket_eff {
					width: 10px;
					height: 10px;
					bottom: 0px; 
					margin-left: -5px;
					background: #c6342e;
					border-radius: 100%; 
				}
				.rocket_eff {
					position: absolute;
					left: -12.5%;
					-webkit-transition: 0.7s ease-in-out;
					-moz-transition: 0.7s ease-in-out;
					-o-transition: 0.7s ease-in-out;
					-ms-transition: 0.7s ease-in-out;
					transition: 0.7s ease-in-out; }
					
					div#nav_left a:nth-child(1):hover ~ .rocket_eff {
					left: 12.5%; }
					div#nav_left a:nth-child(2):hover ~ .rocket_eff {
					left: 37.5%; }
					div#nav_left a:nth-child(3):hover ~ .rocket_eff {
					left: 62.5%; }
					/*div#nav_left a:nth-child(4):hover ~ .effect {
					left: 87.5%; }*/
				
				#header div#nav_left a:hover, #header div#nav_right a:hover {
					color: #c6342e;
				}
				#header div#nav_left ul li a, #header div#nav_right ul li a {
					display: inline;
					text-decoration: none;
					color: #333;
					font-weight: bold;
					font-size: 16px;
					font-family: Arial;
				}
				#header div#nav_left ul li, #header div#nav_right ul li {
					display: inline;
					margin: 0 40px;
				}
			#header #logo {
				background: url('/img/RCREMBLEM4.png') no-repeat;
				width: 250px;
				height: 230px;
				float: left;
			}
			#header #head_content #login {
				display: inline-block;
				width: 200px;
				position: absolute;
				right: 95px;			
			}
				#feedback_l {
					font-size: 12px;
					margin-top: 5px;
				}
				#login_form a {
					color: red;
					font-size: 14px;
					text-decoration: none;
				}
				#login_form a:hover {
					text-decoration: underline;
				}
				#login #login_link {
					position: absolute;
					top: 15px;
					right: 30px;
					background: #f7f7f7;/*#333;*/
					padding: 8px;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border: 1px solid #333;
				}
				#login #login_link a { 
					text-decoration: none;
					color: #c6342e;
					font-family: "Graduate", Arial;
					font-weight: bold;
					font-size: 14px;
					-webkit-transition: .7s;
					-moz-transition: .7s;
					-o-transition: .7s;
					-ms-transition: .7s;
					transition: .7s;
				}
				#login #login_link a:hover {
					color: #c6342e;
					border-bottom: 1px dashed #c6342e;
				}
				#login #login_form {
					position: absolute;
					top: 60px;
					right: 40px;
					background: #fff;
					border: 1px solid #777;
					/*border-top: 3px solid #333;*/
					padding: 8px;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					display: none;
					width: 150px;
				}
					#login #login_form form input {
						max-width: 140px;
					}
					#login #login_form form input[type="text"], #login #login_form form input[type="password"] {
						width:140px;
						font-size: 12px;
						padding: 5px 2px;
						font-size: 12px;
					}
					#login #login_form form input[type="password"] {
						margin-top: -1px;
					}
					#login #login_form form input[type="submit"] {
						max-width: 50px;
						margin-top: 5px;
						background: #c6342e;
						color: #fff;
						border: 0px;
						padding:3px;
						float: left;
						font-size: 12px;
					}
					#login_form #content_arrow_border {
						width: 0; 
						height: 0; 
						border-left: 12px solid transparent;
						border-right: 12px solid transparent;					
						border-bottom: 12px solid #777;
						top: -9.5px;
						right: 8px;
						z-index: -2;
					}
					#login_form #content_arrow {
						width: 0; 
						height: 0; 
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;					
						border-bottom: 8px solid #fff;
						position: relative;
						top: -8px;
						right: 12px;									
					}
					#login_form #content_arrow_border, #login_form #content_arrow {
						position: absolute;				
					}
				
				.rocket {
					position: absolute;
					top: 31px;
					left: 69px;
					height: 19px;
					width: 53px;
					background: url('/img/uslirocket2.png') no-repeat;
					z-index: 2;
				}
				
				
		#top-pattern{
			height:16px;
			width: 100%;
			position:fixed;
			top:0;
			background:url('top-pattern.png') repeat-x;
		}
		#content {
			/*border: 1px solid red;*/
			overflow: hidden;
			margin: 40px auto 20px auto;
			padding: 10px;
			width: 1100px;
			min-height: 700px;
		}
		#sliderFrame {
			/*float: left;
			border: 10px solid #f3f3f3;
			border-radius: 10px;*/
		}	
		#main {
			/*border: 1px solid green;*/
			float: left;
			width: 80%;
			text-align: left;
			
		}
			#body {
				/*background: #f7f7f7;*/
				/*margin-top: 60px;	*/
				overflow: hidden;
			}
				#body h2 {
					margin-bottom: 15px;
					font-size: 20px;
					font-family: "Graduate", Arial;
					color: #c6342e;
					text-align: left;
					border-left: 5px solid #333;
					padding: 5px 0 5px 10px;
				}
				#body #body_text {
					width: 90%;
				}
				#body p {
					margin-bottom: 5px;
					font-family: Arial;
					line-height: 20px;
					font-size: 14px;
					width: 98%;
				}
				/**    Registration Page  **/
				#feedback_r {
					font-size: 14px;
					margin-top: 10px;
				}
				#body #register_form {
					margin-top: 30px;
				}
					#body #register_form input[type="text"], #body #register_form input[type="password"] {
						width:240px;
						font-size: 14px;
						padding: 10px 4px;
					}
					#body #register_form input[type="password"] {
						margin-top: -1px;
					}
					#body #register_form input[type="submit"] {
						background: #c6342e;
						color: #fff;
						border: 0px;
						padding:8px;
						float: left;
						font-size: 14px;
						border-radius:3px;
						-moz-border-radius:3px;
						-webkit-border-radius:3px;
					}
				
				/**  Outreach Event Page   **/
				#body .outreach img {
					margin: 5px;
					box-shadow: 0 0 5px #777;
					width: 220px;
					height: 175px;/*145px;*/
				}
				#body #img_list {
					display: inline-block;
					margin-top: 10px;
					padding: 15px;
				}
					#body #img_list ul li {
						list-style-type: none;
						display:inline;
						margin-right: 15px;
						
					}
					#body #img_list ul li:hover {
						cursor: pointer;
					}
					#body #img_list ul li:last-child {
						margin-right: 0px;
					}
					#body #img_list ul li img {
						width: 225px;
						height: 225px;
						border: 8px solid #333;
						border-radius: 10px;
						-moz-border-radius: 10px;
						-webkit-border-radius: 10px;
					}
				
				/**  Media Page   **/
				#body .media_body img {
					margin: 5px;
					box-shadow: 0 0 5px #777;
				}		
				#body .media_body p {
					margin-top: 10px;
				}		
				#body .media_body p a {
					color: #c6342e;
					cursor: pointer;
				}
					
				/**  Documents Page   **/
				#body #body_text #documents_list {
					/*margin-top: 40px;*/
					margin-top: 10px;
					padding: 8px;
					
					/*border: 1px solid red;*/
				}
					#body #body_text #documents_list .document_cat {
						margin-bottom: 10px;
					}
						#body #body_text #documents_list .document_cat h3 {
							/*border: 1px solid red;*/
							font-family: Arial;
							color: #333;
							margin-bottom: 5px;
						}
						#body #body_text #documents_list .document_cat a {
							color: #c6342e;
							font-size: 14px;
							text-decoration: none;
							display:block;
							padding: 3px;
							margin-left: 20px;
						}
						#body #body_text #documents_list .document_cat a:before {
							content: url('http://rivercityrocketry.org/img/file_pdf.png');
							width: 20px;
							height: 20px;
							position: relative;
							top:5px;
							left: -10px;
						}
						#body #body_text #documents_list .document_cat a:hover {
							text-decoration: underline;
						}
				/** Blog style **/
				#body #body_text #blog_post {
					width: 90%;
					margin: 10px auto 10px auto;
					background: #fff;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					overflow: hidden;
					padding: 10px;
					box-shadow: 0px 0px 2px #333;
					line-height: 22px;
					padding-bottom: -20px;
				}
				#body #body_text #blog_post:first-child {
					margin-top: 30px;
				}
					#blog_post #blog_header {
						overflow: hidden;
						margin-bottom: 20px;
						padding: 2px;
					}
					#blog_post #blog_header #blog_title {
						float: left;
						width: 58%;
						color: #c6342e;
						font-size: 20px;
						overflow: hidden;
					}
					#blog_post #blog_header #blog_publish_date {
						float: right;
						width: 40%;	
						font-size: 12px;
						overflow: hidden;
						padding: 3px 0;
					}
			/**  Sidebar   **/	
			#side {
				/*border: 1px solid blue;*/
				float: right;
				width: 19%;
			}
			#side a {
				color: #333;
				text-decoration: none;
			}
			#side a:hover {
				color: #c6342e;
			}
			#sidebar_no_title {
				overflow: hidden;
				box-sizing: border-box;
				border: 1px solid #333;
				border-radius: 5px;
				width: 100%;
				height: auto;
				font-family: Arial;
				background: #fff;
				margin-bottom: 15px;
			}
			#sidebar_with_title {
				overflow: hidden;
				box-sizing: border-box;
				border: 1px solid #333;
				border-radius: 5px;
				width: 100%;
				min-height: 100px;
				font-family: Arial;
				background: #fff;
				margin-bottom: 15px;
			}
				#sidebar_with_title #title {
					font-size: 14px;
					width: 100%;
					padding: 5px;
					letter-spacing: 1px;
					font-weight: bold;
					color: #c6342e;
					font-family: "Graduate", Arial;
					background: #333;
					text-shadow: 0px 0px 2px #c6342e;
					border-bottom: 3px solid #c6342e;
				}
			#sidebar_no_title #cont {
				font-size: 14px;
				line-height: 16px;
				background: #fff;
				padding: 8px 5px;
			}
			#sidebar_with_title #cont {
				font-size: 13px;
				line-height: 16px;
				background: #fff;
				padding: 8px 5px;
			}
				#sidebar_with_title #cont ul li {
					margin-bottom:5px;
					padding: 2px;
					background: #e9e9e9;
					border-radius:5px;
					-moz-border-radius:5px;
					-webkit-border-radius:5px;
					text-align: center;
					list-style-type: none;
				}
				#sidebar_with_title #cont ul li:hover {
					background: #e2e2e2;
					color: #c6342e;
					cursor: pointer;
				}
				#sidebar_with_title #cont .more_link {
					margin-top: 10px;
					text-align: right;
				}
				#sidebar_with_title #cont .more_link a {
					color: blue;
					font-size: 12px;
					font-style: italic;
					text-decoration: underline;
				}
		#footer {
			width: 100%;
			min-width: 1200px;
			min-height: 40px;
			font-size: 12px;
			padding: 10px 0;
			background: #333;
			color: #fff;
			line-height: 18px;
		}
			#footer-lft {
				margin-left: 20px;
			}
			#footer-rgt {
				margin-right: 20px;
				padding: 5px;
				text-align: center;
			}
		.float_lft {
			float: left;
		}
		.float_rgt {
			float: right;
		}
				
				
			/*#header #head_content #login_form {
				position: absolute;
				left: 1024px;
			}
				#login_link {
					position: relative;
					right: 0px;
					top: 20px;
				}
				#login_link a { 
					text-decoration: none;
					color: #333;
					font-weight: bold;
					font-size: 16px;
					font-family: Arial;
					-webkit-transition: .7s;
					-moz-transition: .7s;
					-o-transition: .7s;
					-ms-transition: .7s;
					transition: .7s;
				}
				#login_link a:hover {
					color: #c6342e;
				}
				#login_form form {
					position: relative;
					top: 37px;					
					background: #fff;
					border: 1px solid #777;
					padding: 8px;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
									
				}
				#content_arrow_border {
					width: 0; 
					height: 0; 
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;					
					border-bottom: 12px solid #777;					
					top: 28.5px;
					right: 8px;
				}
				#content_arrow {
					width: 0; 
					height: 0; 
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;					
					border-bottom: 8px solid #fff;
					position: relative;
					top: 30px;
					right: 12px;
									
				}
				#content_arrow_border, #content_arrow {
					position: absolute;				
				}*/



.nav {
  text-align: center;
  overflow: hidden;
  margin: 2em auto;
  width: 480px;
  position: relative; }
  .nav a {
	display: block;
	position: relative;
	float: left;
	padding: 1em 0 2em;
	width: 25%;
	text-decoration: none;
	color: #393939;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	-ms-transition: .7s;
	transition: .7s; }
  .nav a:hover {
    	color: #c6342e; }

.effect {
	position: absolute;
  left: -12.5%;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }

	.nav a:nth-child(1):hover ~ .effect {
	  left: 12.5%; }
	.nav a:nth-child(2):hover ~ .effect {
	  left: 37.5%; }
	.nav a:nth-child(3):hover ~ .effect {
	  left: 62.5%; }
	.nav a:nth-child(4):hover ~ .effect {
	  left: 87.5%; }
.ph-dot-nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #c6342e;
  bottom: 40px; }
.ph-dot-nav a:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 38px;
  left: 50%;
  margin-left: -2px; 
  background: #c6342e;
  border-radius: 100%; }
.ph-dot-nav .effect {
  width: 10px;
  height: 10px;
  bottom: 36px; 
	margin-left: -5px;
  background: #c6342e;
  border-radius: 100%; }