/**
* css reset
*/
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    body {
    line-height:1;
    }
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
    display:block;
    }
    nav ul {
    list-style:none;
    }
    blockquote, q {
    quotes:none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content:'';
    content:none;
    }
    a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    /* change colours to suit your needs */
    ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
    }
    /* change colours to suit your needs */
    mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
    }
    del {
    text-decoration: line-through;
    }
    abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
    }
    table {
    border-collapse:collapse;
    border-spacing:0;
    }
    /* change border colour to suit your needs */
    hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
    }
    input, select {
    vertical-align:middle;
    }





/**
* main css start
*/

html, body {
	height: 100%;
	width: 100%;
}
	
body {
	background: #ddd2cc url('/img/pagebg.png') no-repeat;
	background-image: url('/img/b9.png');
	background-repeat: repeat;
}
	#main_container {
		color: #333;
		height: 100%;
		background: url('/img/pagebg.png') repeat center top;
		/*width: 90%;*/
		
	}
		#header {
			margin: 0 auto;
			width: auto;/*63.5%;*/
			overflow: hidden;
			position: relative;
			text-align: center;
			
		}
		#header #head_content {
			display: inline-block; /*so the element is only as big as the contents inside it*/
			postion: relative;
		}
			#header div#nav_left, #header div#nav_right {				
				float: left;
				position: relative;
				top: 165px;
				padding: 8px 0;
				margin-bottom: 10px;
			}
				div#nav_left:after, div#nav_right:after {
					  content: "";
					  display: block;
					  position: absolute;
					  width: 100%;
					  height: 1.5px;
					  /*box-shadow: 0px 0px .5em red;*/
					  border-radius: 100% 100% 100% 100%;
					  border: 1px solid #c6342e;
					  background: #c6342e;
					  bottom: -10px; /*0px;*/
				}
				div#nav_left a, div#nav_right a {
					position: relative;
					-webkit-transition: .7s;
					-moz-transition: .7s;
					-o-transition: .7s;
					-ms-transition: .7s;
					transition: .7s;
				}
				div#nav_left a:after, div#nav_right a:after {
					content: "";
					position: absolute;
					width: 5px;
					height: 5px;
					bottom: -18px;
					left: 50%;
					margin-left: -2px; 
					background: #c6342e;
					border-radius: 100%; 
				}
				div#nav_left .rocket_eff {
					width: 10px;
					height: 10px;
					bottom: 0px; 
					margin-left: -5px;
					background: #c6342e;
					border-radius: 100%; 
				}
				.rocket_eff {
					position: absolute;
					left: -12.5%;
					-webkit-transition: 0.7s ease-in-out;
					-moz-transition: 0.7s ease-in-out;
					-o-transition: 0.7s ease-in-out;
					-ms-transition: 0.7s ease-in-out;
					transition: 0.7s ease-in-out; }
					
					div#nav_left a:nth-child(1):hover ~ .rocket_eff {
					left: 12.5%; }
					div#nav_left a:nth-child(2):hover ~ .rocket_eff {
					left: 37.5%; }
					div#nav_left a:nth-child(3):hover ~ .rocket_eff {
					left: 62.5%; }
					/*div#nav_left a:nth-child(4):hover ~ .effect {
					left: 87.5%; }*/
				
				#header div#nav_left a:hover, #header div#nav_right a:hover {
					color: #c6342e;
				}
				#header div#nav_left ul li a, #header div#nav_right ul li a {
					display: inline;
					text-decoration: none;
					color: #333;
					font-weight: bold;
					font-size: 16px;
					font-family: Arial;
				}
				#header div#nav_left ul li, #header div#nav_right ul li {
					display: inline;
					margin: 0 40px;
				}
			#header #logo {
				background: url('/img/2013logo.png') no-repeat;
				width: 257px;
				height: 210px;
				float: left;
			}
			#header #head_content #login {
				display: inline-block;
				width: 200px;
				position: absolute;
				right: 95px;			
			}
				#login #login_link {
					position: absolute;
					top: 15px;
					right: 20px;
					background: #333;
				}
				#login #login_link a { 
					text-decoration: none;
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					font-family: "Graduate", Arial;
					-webkit-transition: .7s;
					-moz-transition: .7s;
					-o-transition: .7s;
					-ms-transition: .7s;
					transition: .7s;
				}
				#login #login_link a:hover {
					color: #c6342e;
				}
				#login #login_form {
					position: absolute;
					top: 45px;
					right: 0;
					background: #fff;
					border: 1px solid #777;
					padding: 8px;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					display: none;
				}
				#login_form #content_arrow_border {
					width: 0; 
					height: 0; 
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;					
					border-bottom: 12px solid #777;					
					top: -9.5px;
					right: 8px;
					z-index: -2;
				}
				#login_form #content_arrow {
					width: 0; 
					height: 0; 
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;					
					border-bottom: 8px solid #fff;
					position: relative;
					top: -8px;
					right: 12px;									
				}
				#login_form #content_arrow_border, #login_form #content_arrow {
					position: absolute;				
				}
				
				.rocket {
					position: absolute;
					top: 31px;
					left: 69px;
					height: 19px;
					width: 53px;
					background: url('/img/uslirocket2.png') no-repeat;
					z-index: 2;
				}
				
			/*#header #head_content #login_form {
				position: absolute;
				left: 1024px;
			}
				#login_link {
					position: relative;
					right: 0px;
					top: 20px;
				}
				#login_link a { 
					text-decoration: none;
					color: #333;
					font-weight: bold;
					font-size: 16px;
					font-family: Arial;
					-webkit-transition: .7s;
					-moz-transition: .7s;
					-o-transition: .7s;
					-ms-transition: .7s;
					transition: .7s;
				}
				#login_link a:hover {
					color: #c6342e;
				}
				#login_form form {
					position: relative;
					top: 37px;					
					background: #fff;
					border: 1px solid #777;
					padding: 8px;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
									
				}
				#content_arrow_border {
					width: 0; 
					height: 0; 
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;					
					border-bottom: 12px solid #777;					
					top: 28.5px;
					right: 8px;
				}
				#content_arrow {
					width: 0; 
					height: 0; 
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;					
					border-bottom: 8px solid #fff;
					position: relative;
					top: 30px;
					right: 12px;
									
				}
				#content_arrow_border, #content_arrow {
					position: absolute;				
				}*/



.nav {
  text-align: center;
  overflow: hidden;
  margin: 2em auto;
  width: 480px;
  position: relative; }
  .nav a {
	display: block;
	position: relative;
	float: left;
	padding: 1em 0 2em;
	width: 25%;
	text-decoration: none;
	color: #393939;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	-ms-transition: .7s;
	transition: .7s; }
  .nav a:hover {
    	color: #c6342e; }

.effect {
	position: absolute;
  left: -12.5%;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }

	.nav a:nth-child(1):hover ~ .effect {
	  left: 12.5%; }
	.nav a:nth-child(2):hover ~ .effect {
	  left: 37.5%; }
	.nav a:nth-child(3):hover ~ .effect {
	  left: 62.5%; }
	.nav a:nth-child(4):hover ~ .effect {
	  left: 87.5%; }
.ph-dot-nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #c6342e;
  bottom: 40px; }
.ph-dot-nav a:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 38px;
  left: 50%;
  margin-left: -2px; 
  background: #c6342e;
  border-radius: 100%; }
.ph-dot-nav .effect {
  width: 10px;
  height: 10px;
  bottom: 36px; 
	margin-left: -5px;
  background: #c6342e;
  border-radius: 100%; }